version: 0.1
log:
  level: info
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
  maintenance:
    uploadpurging:
      enabled: true
      age: 8h
      interval: 1h
      dryrun: false
http:
  addr: :<%= config.registry.port %>
  headers:
    X-Content-Type-Options: [nosniff]
  <%- if config.registry.self_signed -%>
  tls:
    certificate: /etc/docker/registry/registry_host.crt
    key: /etc/docker/registry/registry_host.key
  <%- end -%>
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
<%- if config.registry.auth_enabled -%>
auth:
  token:
    realm: <%= "#{config.__uri}/jwt/auth" %>
    service: container_registry
    issuer: gitlab-issuer
    rootcertbundle: /etc/docker/registry/localhost.crt
    autoredirect: false
<%- end -%>
validation:
  disabled: true
<%- if config.registry.compatibility_schema1_enabled -%>
compatibility:
  schema1:
    enabled: true
<%- end -%>

<%- if config.registry.notifications_enabled -%>
notifications:
  endpoints:
    - name: gitlab-rails
      url: <%= "#{config.__uri}/api/v4/container_registry_event/events" %>
      headers:
        Authorization: [notifications_secret]
      timeout: 500ms
      threshold: 5
      backoff: 1s
<%- end -%>
